<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO-所有活動</title>
  <%- include('./layout/head'); -%>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container mt-20 mt-lg-34">
      <h3 class="d-flex align-items-center fs-5 fs-lg-1 border border-3 py-4 px-3 py-lg-6 px-lg-8 mb-3 mb-lg-8"  data-aos-anchor-placement="top-bottom" data-aos="fade-right">
        EVENT<span class="font-notoSerif fs-9 fs-lg-4 ms-auto">所有活動</span>
      </h3>
      <!-- 分類 -->
      <div class="d-flex flex-wrap gap-2 mb-8" data-aos="flip-up" data-aos-delay="400">
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">演出</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">音樂</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">舞蹈</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">戲劇</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">音樂會</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">課程講座</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">社群活動</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">展覽</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">研討會</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">電影</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">電音派對</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">遊戲競賽</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">親子</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">藝文活動</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">運動</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">交通旅遊</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">美食</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">資訊科技</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">聯誼</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">戶外</a>
        <a href="#" class="badge badge-outline font-notoSerif fs-10 fs-lg-9">線上活動</a>
      </div>
      <!-- 活動列表 -->
      <ul class="row list-unstyled mb-8 mb-lg-15" data-aos-anchor-placement="top-bottom" data-aos="fade-up" data-aos-delay="600">
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">19 MAY 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:邪典電影派對">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">邪典電影派對——房間</h4>
              <p>你有聽說過「大災難家」裡面的主角 <span class="font-notoSans">Tommy
                  Wiseau</span>製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">23 MAY 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:怪舞俱樂部">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">怪舞俱樂部</h4>
              <p>覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>

        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">30 MAY 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:哈利波特馬拉松">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">哈利波特馬拉松</h4>
              <p>每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">12 JUNE 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:皮卡丘排球大賽">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">皮卡丘排球大賽</h4>
              <p>還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">25 June 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:酒精路跑">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">酒精路跑</h4>
              <p>身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">9 July 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:展覽——我的房間">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">展覽——我的房間</h4>
              <p>每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">19 MAY 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/07.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:野營音樂祭">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">野營音樂祭</h4>
              <p>喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">23 MAY 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/08.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:疊疊樂大賽">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">疊疊樂大賽</h4>
              <p>來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6 mb-lg-12">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">30 MAY 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:返老還童-制服聯誼">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">返老還童-制服聯誼</h4>
              <p>由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">12 JUNE 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/10.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:野外求生17天">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">野外求生17天</h4>
              <p>野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4 mb-6">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">25 June 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/11.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:耳熟能詳音樂祭">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">耳熟能詳音樂祭</h4>
              <p>對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
        <li class="col-lg-4">
          <a href="./event.html" class="card">
            <div class="fs-8 fs-lg-3 lh-1 border-bottom border-3 pb-2 pb-lg-3 mb-4 mb-lg-3">9 July 2023</div>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/12.jpg?raw=true"
              class="card-img card-img-top mb-2 mb-lg-3" alt="活動:野營發呆大賽">
            <div class="card-body px-0 pt-0">
              <h4 class="font-notoSerif fs-8 fs-lg-5 mb-2 mb-lg-3">野營發呆大賽</h4>
              <p>你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
            </div>
          </a>
          <div class="d-flex justify-content-between align-items-center border-top border-bottom border-2 py-2 py-lg-3">
            <a href="#" class="card-link d-flex align-items-center font-notoSerif fs-9">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                alt="sparkler-icon" class="card-btn-icon me-1">
              社群活動
            </a>
            <a href="#" class="card-btn position-relative d-flex align-items-center fs-9 fw-bold" data-bs-toggle="modal"
              data-bs-target="#register-modal">
              開賣中
              <i class="icofont-rounded-double-right ms-1"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <!-- 分頁 -->
    <nav class="mb-12 mb-lg-15" aria-label="Page navigation">
      <ul class="pagination justify-content-center font-notoSerif fs-9">
        <li class="page-item me-2">
          <a class="page-link" href="#" aria-label="Previous">
            <i class="icofont-arrow-left"></i>
          </a>
        </li>
        <li class="page-item me-2"><a class="page-link active" href="#">1</a></li>
        <li class="page-item me-2"><a class="page-link" href="#">2</a></li>
        <li class="page-item me-2"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <i class="icofont-arrow-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    </div>

    <%- include('./layout/footer'); -%>
    <%- include('./layout/aos'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>